<div class="site-mast__branding cf" id="J-site-mast__branding">
    <h1><a class="site-logo" href="/" gaevent="header/logo">宿州团购</a></h1>

    <div data-component="buyprocessbar" class="component-buyprocessbar mt-component--booted" mt-scope="[]" data-component-config="{&quot;lazyRender&quot;:false}" id="yui_3_16_0_1_1468551492864_53"><div class="buy-process-bar-container" id="yui_3_16_0_1_1468551492864_685">
        <ol class="buy-process-desc steps-desc" id="yui_3_16_0_1_1468551492864_684">
            <li class="step current" style="width:33.333333333333%" id="yui_3_16_0_1_1468551492864_683">1. 提交订单</li>
            <li class="step" style="width:33.333333333333%">2. 选择支付方式</li>
            <li class="step" style="width:33.333333333333%">3. 购买成功</li>
        </ol>
        <div class="progress">
            <div class="progress-bar" style="width:33.333333333333%"></div>
        </div>
    </div>
    </div>
    <a class="site-commitment" gaevent="top/commitment" >
        <span class="commitment-item"><i class="F-glob F-glob-commitment-retire"></i>随时退</span>
        <span class="commitment-item"><i class="F-glob F-glob-commitment-free"></i>不满意免单</span>
        <span class="commitment-item"><i class="F-glob F-glob-commitment-expire"></i>过期退</span>
    </a>
</div>